<h2>{{ isEditMode ? 'Edit Product' : 'Add Product' }}</h2>

<form (ngSubmit)="saveProduct()" #productForm="ngForm">
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" class="form-control" id="name"  [(ngModel)]="product.name" name="name">
  </div>

  <div class="form-group">
    <label for="description">Description</label>
    <textarea class="form-control" id="description" [(ngModel)]="product.description" name="description"></textarea>
  </div>

  <div class="form-group">
    <label for="price">Price</label>
    <input type="number" class="form-control"  id="price"  [(ngModel)]="product.price" name="price">
  </div>

  <button type="submit" class="btn btn-primary" >Save</button>
</form>

<a routerLink="/products" class="btn btn-secondary">Cancel</a>
